<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Kay</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
        <link rel="icon" href="./images/phg.png" type="image/x-icon">
    </head>
    <body>
        <main>
            <div class="row">
                <div class="column1">
                    <h3>Todoist</h3>
                    <iframe src="https://todoist.com/app/today" title="todoist" id="iframe-todoist"></iframe>
                </div>
                <div class="column2">
                    <h3>Control Center</h3>
                    <h1 id="kayLogo">Kay</h1>
                    <div id="switches-div">
                        <button class="lightToggleStyles" id="light1">Lamp 1</button>
                        <br>
                        <button class="lightToggleStyles" id="light2">Lamp 2</button>
                        <br>
                        <button class="lightToggleStyles" id="light3">Sunlamp</button>
                        <br>
                        <button class="lightToggleStyles" id="light4">Plant Light</button>
                    </div>
                </div>
            </div>
        </main>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
            document.querySelector('#light1').addEventListener('click', function () {
                    let request = new XMLHttpRequest();
                    request.open('GET', '/light_one_toggle', true);
                    request.onload = function () {
                        if (this.status >= 200 && this.status < 400) {
                            let data = JSON.parse(this.response);
                        }
                    };
                    request.send();
                    return false;   
            }, false);
            document.querySelector('#light2').addEventListener('click', function () {
                let request = new XMLHttpRequest();
                    request.open('GET', '/light_two_toggle', true);
                    request.onload = function () {
                        if (this.status >= 200 && this.status < 400) {
                            let data = JSON.parse(this.response);
                        }
                    };
                    request.send();
                    return false; 
            }, false);
            document.querySelector('#light3').addEventListener('click', function () {
                let request = new XMLHttpRequest();
                    request.open('GET', '/light_three_toggle', true);
                    request.onload = function () {
                        if (this.status >= 200 && this.status < 400) {
                            let data = JSON.parse(this.response);
                        }
                    };
                    request.send();
                    return false; 
            }, false);
            document.querySelector('#light4').addEventListener('click', function () {
                let request = new XMLHttpRequest();
                    request.open('GET', '/plant_light_toggle', true);
                    request.onload = function () {
                        if (this.status >= 200 && this.status < 400) {
                            let data = JSON.parse(this.response);
                        }
                    };
                    request.send();
                    return false; 
            }, false);
        </script>
    </body>
</html>
