@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(27, 27, 31);
  color: white;
}


/* --- Create columns --- */
.column1 {
  float: left;
  width: 60%;
}
.column2 {
  float: left;
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* .column {
    float: left;
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    width: 50%;
  } */
/* --- */

/* --- Column 2 styles */
#kayLogo {
  padding: 20px;
  background-color: brown;
  font-family: 'Raleway', sans-serif;
}

#switches-div {
  vertical-align: middle;
}

.switches {
  display: inline;
  vertical-align: middle;
}

.switch-label {
  position: relative;
  top: 12px;
  margin-left: 5px;
  font-size: 1.5em;
  margin-top: auto;
  margin-bottom: auto;
}

#iframe-todoist {
  width: 95%;
  height: 820px;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.lightToggleStyles {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Trebuchet MS;
	font-size:17px;
	font-weight:bold;
	padding:12px 63px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
  margin-bottom: 10px;
}
.lightToggleStyles:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.lightToggleStyles:active {
	position:relative;
	top:1px;
}
