@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(27, 27, 31);
  color: white;
}



/* --- Create columns --- */
.column1 {
  float: left;
  width: 85%;
}
.column2 {
  float: left;
  width: 15%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* .column {
    float: left;
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    width: 50%;
  } */
/* --- */

/* --- Column 2 styles */
#kayLogo {
  padding: 10px;
  font-size: 1.5em;
  background-color: rgba(165, 42, 42, 0);
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.icon {
  width: 50px;
  margin-top: 20px;
  position: absolute;
}
.stinger {
  margin-top: 10px;
  width: 100%;
  height: auto;
}

#switches-div {
  vertical-align: middle;
}

.switches {
  display: inline;
  vertical-align: middle;
}

.switch-label {
  position: relative;
  top: 12px;
  margin-left: 5px;
  font-size: 1.5em;
  margin-top: auto;
  margin-bottom: auto;
}

#iframe-todoist {
  width: 99%;
  height: 920px;
}

.lightToggleStyles {
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Trebuchet MS;
	font-size:17px;
	font-weight:bold;
  width: 100%;
  padding: 10px 0px 10px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
  margin-bottom: 10px;
}
.lightToggleStyles:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.lightToggleStyles:active {
	position:relative;
	top:1px;
}
